* {
  margin: 0;
  padding: 0;
  user-select: none;
}

#app {
  width: fit-content;
  margin: 50px auto;
  box-shadow: 0 0 10px #757575;
  line-height: 0;
}

.s_area_background {
  fill: white;
}

.s_scroll_background {
  fill: lightblue;
}

.s_scroll_bar {
  fill: blue;
}

.s_scroll_disabled > .s_scroll_bar {
  fill: gray;
}

.s_pattern_grid {
  fill: #f9f9f9;
  stroke: #eeeeee;
  stroke-width: 1px;
}

.s_block_background {
  fill: #6dcbf7;
  stroke: #98c7f0;
}

.s_dragger {
  cursor: grab;
}

.s_dragger_dragging {
  cursor: grabbing;
}

.s_conn_active .s_block_background {
  stroke: red;
}

.s_debug_dot {
  fill: red;
}

.s_debug_dot[target='true'] {
  fill: green;
}

.s_block_selected .s_block_background {
  stroke: lightslategray;
}

.s_field_input_background {
  fill: transparent;
  stroke: lightslategray;
}

.s_float_weight {
  display: block;
}

.s_float_weight_hide {
  display: none;
}

.s_float_weight_show {
  display: block;
}

.s_area {
  font-size: 16px;
}